
@()(implicit flash: Flash)
@title = {
    SignUpForm
}
@main(title) {

<div id="alert-box"></div>

        @helper.form(action = routes.SignUpController.isUsernameExists) {

        @inputText(
            personSignUpForm("name"),
            '_label -> "Name",
            '_help -> "Enter your name"
        )

        @inputText(
            personSignUpForm("username"),
            '_label -> "Username",
            '_help -> "Enter your Username"
        )

        @inputPassword(
            personSignUpForm("password.main"),
            '_label -> "Password",
            '_help -> "A password must be at least 6 characters. "
        )

        @inputPassword(
            personSignUpForm("password.confirm"),
            '_label -> "Repeat password",
            '_help -> "Please repeat your password again.",
            '_error -> signup.error("password")
        )

        <input type="submit" class="btn btn-primary" value="Sign Up" >

    }
<script type="text/javascript">
  <!--var successFn = function(data) {-->
   <!--if(data == "true"){-->
	   <!--$('#alert-box').html('');-->
	   <!--$("#alert-box").append('<div class="alert alert-error">' + '<a class="close" data-dismiss="alert">×</a>  ' +-->
			   <!--'<strong>Error!</strong>username Already exist ! '+ '</div>');-->
   <!--}-->
   <!--else{-->
	   <!--$('#alert-box').html('');-->
	   <!--$("#alert-box").append('<div class="alert alert-success">' + '<a class="close" data-dismiss="alert">×</a>  ' +-->
			   <!--'<strong>Success!</strong>Valid username ! '+ '</div>');-->
	   <!--}-->
   <!--console.debug("Success of Ajax Call");-->
   <!--console.debug(data);-->
  <!--};-->
  <!--var errorFn = function(err) {-->
   <!--console.debug("Error of ajax Call");-->
   <!--console.debug(err);-->
  <!--}-->

  <!--ajax1 = {-->
    <!--success: successFn,-->
    <!--error: errorFn-->
  <!--}-->

<!--jsRoutes.controllers.SignUpController.isUsernameExists(idToGet)-->
<!--.ajax(ajax1);-->
<!--}-->
  </script>

