<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        function welcome() {
            window.location="@routes.WelcomeController.welcome()";
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <h1 style="color:white; text-align:center;">Play Profile Page</h1>
        </div>
    </nav>
    <button type="button" class="btn btn-danger btn-sm" onclick="welcome()">Logout</button>
</body>
</html>